/* button{
    letter-spacing: 5px;
    height: 50px;
    width: 150px;
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: black;
    font-weight: bolder;
    margin: 100px
}

button::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border: 2px solid black;
    z-index: -1;
    transition: all 0.3s ease;
}
button:hover::after{
    transform: scale(1.2,1.3);
    background-color: black;
    font-weight: bolder;
    color: white;
    border: 2px solid black;
}

button:hover{
    color: white;
    font-weight: bolder;
    transition: all 1s ease;
} */

button{
    margin: 100px;
    letter-spacing: 5px;
    height: 50px;
    width: 150px;
    background-color: transparent;
}

button:hover{
    box-shadow: 5px 5px 10px rgb(253, 93, 205),
    -5px -5px 10px rgb(31, 154, 241);
    transform: scale(1.2,1.2);
    transition: all 0.5s ease;
    font-weight: bolder;
    border-radius: 0 10px 0 10px;
}